<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DomainsWithAssociatedCredentials</key>
	<array>
		<array>
			<string>comcast.net</string>
			<string>xfinity.com</string>
		</array>
	</array>
	<key>PasswordGenerationRequirements</key>
	<dict>
		<key>adp.com</key>
		<dict>
			<key>ManualPasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>airasia.com</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789</string>
			<key>PasswordMinLength</key>
			<integer>8</integer>
		</dict>
		<key>apple.com</key>
		<dict>
			<key>PasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>ask.com</key>
		<dict>
			<key>PasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>autotrader.com</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789</string>
			<key>PasswordMaxLength</key>
			<integer>20</integer>
			<key>PasswordMinLength</key>
			<integer>5</integer>
		</dict>
		<key>baidu.com</key>
		<dict>
			<key>PasswordMaxLength</key>
			<integer>14</integer>
			<key>PasswordMinLength</key>
			<integer>6</integer>
		</dict>
		<key>bestbuy.com</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789</string>
			<key>PasswordMaxLength</key>
			<integer>30</integer>
			<key>PasswordMinLength</key>
			<integer>6</integer>
		</dict>
		<key>britishairways.com</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789</string>
			<key>PasswordMinLength</key>
			<integer>6</integer>
		</dict>
		<key>carrentals.com</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789</string>
		</dict>
		<key>chase.com</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789!#$%+/=@~</string>
			<key>PasswordConsecutiveCharacterLimit</key>
			<integer>2</integer>
			<key>PasswordMaxLength</key>
			<integer>32</integer>
			<key>PasswordMinLength</key>
			<integer>8</integer>
			<key>PasswordRepeatedCharacterLimit</key>
			<integer>2</integer>
			<key>PasswordRequiredCharacters</key>
			<array>
				<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ</string>
				<string>23456789</string>
				<string>!#$%+/=@~</string>
			</array>
		</dict>
		<key>crateandbarrel.com</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789</string>
			<key>PasswordMaxLength</key>
			<integer>18</integer>
			<key>PasswordMinLength</key>
			<integer>7</integer>
		</dict>
		<key>cvs.com</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789</string>
			<key>PasswordMinLength</key>
			<integer>8</integer>
			<key>PasswordRequiredCharacters</key>
			<array>
				<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ</string>
				<string>23456789</string>
			</array>
		</dict>
		<key>delta.com</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789</string>
			<key>PasswordMaxLength</key>
			<integer>20</integer>
			<key>PasswordMinLength</key>
			<integer>6</integer>
		</dict>
		<key>devstore.cn</key>
		<dict>
			<key>PasswordMaxLength</key>
			<integer>12</integer>
			<key>PasswordMinLength</key>
			<integer>6</integer>
		</dict>
		<key>dx.com</key>
		<dict>
			<key>PasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>forever21.com</key>
		<dict>
			<key>PasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>gamestop.com</key>
		<dict>
			<key>PasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>gap.com</key>
		<dict>
			<key>PasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>hilton.com</key>
		<dict>
			<key>PasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>hotels.com</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789</string>
			<key>PasswordMaxLength</key>
			<integer>20</integer>
			<key>PasswordMinLength</key>
			<integer>6</integer>
		</dict>
		<key>hrblock.com</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789$#%!</string>
			<key>PasswordMinLength</key>
			<string>8</string>
			<key>PasswordRequiredCharacters</key>
			<array>
				<string>abcdefghkmnopqrstuvwxyz</string>
				<string>ABCDEFGHJKLMNPQRSTUVWXYZ</string>
				<string>23456789</string>
				<string>$#%!</string>
			</array>
		</dict>
		<key>hsn.com</key>
		<dict>
			<key>PasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>icloud.com</key>
		<dict>
			<key>ManualPasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>ikea.com</key>
		<dict>
			<key>PasswordMaxLength</key>
			<integer>10</integer>
		</dict>
		<key>jal.co.jp</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>1234567890</string>
			<key>PasswordMaxLength</key>
			<integer>6</integer>
			<key>PasswordMinLength</key>
			<integer>6</integer>
		</dict>
		<key>jcpenney.com</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789</string>
			<key>PasswordMaxLength</key>
			<integer>16</integer>
			<key>PasswordMinLength</key>
			<integer>6</integer>
		</dict>
		<key>live.com</key>
		<dict>
			<key>PasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>lowes.com</key>
		<dict>
			<key>PasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>macys.com</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789</string>
			<key>PasswordMaxLength</key>
			<integer>16</integer>
			<key>PasswordMinLength</key>
			<integer>5</integer>
		</dict>
		<key>mail.ru</key>
		<dict>
			<key>PasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>marriott.com</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789</string>
			<key>PasswordMinLength</key>
			<integer>6</integer>
		</dict>
		<key>metlife.com</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789</string>
			<key>PasswordMaxLength</key>
			<integer>20</integer>
			<key>PasswordMinLength</key>
			<integer>6</integer>
		</dict>
		<key>netflix.com</key>
		<dict>
			<key>PasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>nordstrom.com</key>
		<dict>
			<key>PasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>overstockdeals.com</key>
		<dict>
			<key>PasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>qvc.com</key>
		<dict>
			<key>PasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>riteaid.com</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789</string>
			<key>PasswordMaxLength</key>
			<integer>15</integer>
			<key>PasswordMinLength</key>
			<integer>6</integer>
		</dict>
		<key>shld.net</key>
		<dict>
			<key>PasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>skiheavenly.com</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789</string>
			<key>PasswordMinLength</key>
			<integer>6</integer>
		</dict>
		<key>snow.com</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789</string>
			<key>PasswordMinLength</key>
			<integer>6</integer>
		</dict>
		<key>southwest.com</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789</string>
		</dict>
		<key>ssa.gov</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789~!@#$%^&amp;*</string>
			<key>PasswordFirstCharacterCandidates</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789</string>
			<key>PasswordRequiredCharacters</key>
			<array>
				<string>abcdefghkmnopqrstuvwxyz</string>
				<string>ABCDEFGHJKLMNPQRSTUVWXYZ</string>
				<string>23456789</string>
				<string>~!@#$%^&amp;*</string>
			</array>
		</dict>
		<key>tigerdirect.com</key>
		<dict>
			<key>PasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>usps.com</key>
		<dict>
			<key>PasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>visa.com</key>
		<dict>
			<key>PasswordAllowedCharacters</key>
			<string>abcdefghkmnopqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789</string>
			<key>PasswordMaxLength</key>
			<integer>32</integer>
			<key>PasswordMinLength</key>
			<integer>6</integer>
		</dict>
		<key>vk.com</key>
		<dict>
			<key>PasswordGenerationDisallowed</key>
			<true/>
		</dict>
		<key>walmart.com</key>
		<dict>
			<key>PasswordMaxLength</key>
			<integer>11</integer>
			<key>PasswordMinLength</key>
			<integer>6</integer>
		</dict>
		<key>yahoo.co.jp</key>
		<dict>
			<key>PasswordGenerationDisallowed</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>